* {box-sizing:border-box;}
body {
    background-color: #fcfcfc;
}

* {
	box-sizing: border-box;
}

p, div {
    /* border-style: solid;
    border-width: 1px; */
}

body {
	margin-left:0;
	margin-right:0;
}

.container {
	margin-left:10px;
	margin-right:10px;
}

.toprow {
	height: 3em;
	font-family:courier;
	color: darkslategrey;
	width:95%;
	margin: auto;
}

.left, .right {
	margin: 0;
	padding:0;
	width: 50%;
	float: left;
}

.right {
	text-align: right;
}

.left {
	text-align: right;
	color:dodgerblue;
}

.blockrow {
	height: 3em;
	background-color: #697a9b;
	padding: 0;
	margin: 0;
}


.row {
    width: 50%;
    margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.imgcontainer {
    width:140px;
	height:140px;	
    text-align: center;
    	
}

img {
	max-height: 100%;
	max-width: 100%;
	/*-webkit-transform: rotate(7deg);*/
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

#overlaytext{
	position: absolute;
	font-family: 'Heebo', sans-serif;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}
